extends layouts/template.pug

block vars
	- var lang = 'es'
	- var template = 'tpl__home'
	- var page = 'home'
	- var pageTitle = 'Aixegorri homepage'


block main
	article
		.wrapper
			h1 (Main title)
			p (Main content)
			p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias ex, consequuntur consequatur iusto voluptatum? Recusandae, enim, rerum, molestias sequi iusto perferendis veritatis eum minima incidunt impedit debitis nisi assumenda adipisci.
